@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue: #4b6bfb;
  --secondary: #3b3c4a;
  --secondary-50: #f6f6f7;
  --secondary-100: #f4f4f5;
  --secondary-600: #52525b;
}
